body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 215, 215);
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: left;
}

header {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    border: 5px solid rgb(80, 80, 80);
    background-color: white;
}

main {
    text-align: justify;
}

footer {
    text-align: center;
}

.otazka {
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 1em;
    font-size: 1.2em;
    margin: 1em 0;
}

.odpoved {
    border-left:  10px solid white;
    padding-left: 20px;
}