body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 215, 215);
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: left;
}

header {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    border: solid 5px rgb(80, 80, 80);
}

main {
    text-align: justify;
}

footer {
    text-align: center;
}